node_modules/
dist/
build/
.env
.env.local
.env.*.local
*.log
.DS_Store
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
coverage/
.cache/
.parcel-cache/
.turbo/
.next/
.vite/
client/dist/
server/dist/
uploads/
tmp/

# TS composite build artifacts
*.tsbuildinfo
client/vite.config.js
client/vite.config.d.ts
